security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
            algorithm: bcrypt
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        api:
            pattern: ^/api
            stateless: true
            jwt: ~
        # main:
            # lazy: true
            # provider: app_user_provider
    access_control:
        # Autoriser l'accès public à la documentation API Platform
        - { path: ^/api, methods: [OPTIONS, GET], roles: PUBLIC_ACCESS }

        # Autoriser l'accès public à la connexion et à l'inscription
        - { path: ^/api/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/users, methods: [POST], roles: PUBLIC_ACCESS }

        # Restreindre toutes les routes en POST, DELETE et PATCH aux administrateurs
        - { path: ^/api, methods: [POST, DELETE, PATCH], roles: ROLE_ADMIN }

        # Permettre à un utilisateur de voir uniquement son propre compte
        - { path: ^/api/users/\d+$, methods: [GET], roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/users/\d+$, methods: [PATCH], roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/users/\d+$, methods: [DELETE], roles: IS_AUTHENTICATED_FULLY }

        # Restreindre toutes les autres routes en GET avec un ID (ex: /api/products/1) aux admins
        - { path: ^/api/.+/\d+$, methods: [GET], roles: ROLE_ADMIN }

        # Toutes les autres routes GET restent accessibles aux utilisateurs connectés
        - { path: ^/api, methods: [GET], roles: IS_AUTHENTICATED_FULLY }



        # - { path: ^/api/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        # - { path: ^/api/users, methods: [POST], roles: PUBLIC_ACCESS } # Autoriser l'inscription
        # - { path: ^/api/users, methods: [GET], roles: IS_AUTHENTICATED_FULLY }
        # - { path: ^/api, roles: PUBLIC_ACCESS }
        
when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
