services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env.prod
      #- APP_ENV=prod
    depends_on:
      - database

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

  database:
    image: mysql:8.0
    env_file:
      - .env.prod
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      PMA_USER: admin
      PMA_PASSWORD: caribou
    ports:
      - "8080:80"
    depends_on:
      - database

volumes:
  db_data:
