parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true 

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\State\UserMeProvider:
        autowire: true
        autoconfigure: true
        public: true

    App\State\CategoryImageDataPersister:
        autowire: true
        autoconfigure: true
        public: true
