parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true 

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\State\UserMeProvider:
        autowire: true
        autoconfigure: true
        public: true

    App\State\CategoryImageDataPersister:
        autowire: true
        autoconfigure: true
        public: true
    
    App\State\ProductDataPersister:
        autowire: true
        autoconfigure: true
        public: true
        decorates: 'api_platform.doctrine.orm.state.persist_processor'
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $decoratedProcessor: '@App\State\ProductDataPersister.inner'




    App\State\ProductStateProvider:
        autowire: true
        autoconfigure: true
        public: true
        
    App\State\UserPasswordChangeStateProcessor:
        autowire: true
        autoconfigure: true
        public: true

    App\State\CarouselLangageDataPersister:
        autowire: true
        autoconfigure: true
        public: true

    App\State\OrderItemDataPersister:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\State\OrderDataPersister:
        decorates: 'api_platform.doctrine.orm.state.persist_processor'
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $decoratedProcessor: '@App\State\OrderDataPersister.inner'
        autoconfigure: true
        autowire: true
        
    App\State\SecureOrderItemDeletionProcessor: ~


