parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Domain/Entity/'
            - '../src/Dto/'
            - '../src/Kernel.php'

    # === User ===
    App\Application\State\User\UserMeProvider: ~
    App\Application\State\User\UserPasswordChangeProcessor: ~
    App\Application\State\User\UserUpdateProcessor: ~
    App\Application\State\User\UserPasswordHasher: ~

    # === Category ===
    App\Application\State\Category\CategoryImageDataPersister: ~
    App\Application\State\Category\CategoryProductsProvider:
        arguments:
            $productRepository: '@App\Repository\ProductRepository'

    # === Product ===
    App\Application\State\Product\ProductDataPersister:
        decorates: 'api_platform.doctrine.orm.state.persist_processor'
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $decoratedProcessor: '@App\Application\State\Product\ProductDataPersister.inner'

    App\Application\State\Product\ProductProvider: ~
    App\Application\State\Product\ProductImageDataPersister: ~
    App\Application\State\Product\ProductLangageDataPersister: ~
    App\Application\State\Product\TopOrdersProductProvider: ~

    # === Carousel ===
    App\Application\State\Carousel\CarouselLangageDataPersister: ~
    App\Application\State\Carousel\CarouselMediaInputProcessor:
        autowire: true
        autoconfigure: true
        arguments:
            $projectDir: '%kernel.project_dir%'

    # === Order ===
    App\Application\State\Order\OrderDataPersister:
        decorates: 'api_platform.doctrine.orm.state.persist_processor'
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $decoratedProcessor: '@App\Application\State\Order\OrderDataPersister.inner'

    App\Application\State\Order\OrderItem\OrderItemDataPersister:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'

    App\Application\State\Order\OrderItem\OrderItemPatchProcessor: ~
    App\Application\State\Order\OrderItem\SecureOrderItemDeletionProcessor: ~

    # === Cart / Checkout ===
    App\Application\State\Cart\CartProvider: ~
    App\Application\State\Cart\CreateCartProcessor: ~
    App\Application\State\Checkout\CheckoutProcessor: ~

    # === Subscription ===
    App\Application\State\Subscription\SubscriptionTypeDataPersister: ~

    # === JWT Success Handler ===
    App\Infrastructure\Security\JWTLoginSuccessHandler:
        tags:
            - { name: kernel.event_subscriber }

    App\Application\State\Auth\RefreshTokenStateProcessor:
        arguments:
            $refreshTokenManager: '@gesdinet.jwtrefreshtoken.refresh_token_manager'
            $jwtManager: '@lexik_jwt_authentication.jwt_manager'
            $userProvider: '@security.user.provider.concrete.app_user_provider'
    
    App\OpenApi\OpenApiFactory:
        decorates: 'api_platform.openapi.factory'
        arguments: [ '@App\OpenApi\OpenApiFactory.inner' ]
    
    App\Application\State\Subscription\MySubProvider:
        arguments:
            $security: '@security.helper'
            $subscriptionRepository: '@App\Repository\SubscriptionRepository'

    App\Service\AzureTranslateService:
        arguments:
            $endpoint: '%env(AZURE_TRANSLATOR_ENDPOINT)%'
            $subscriptionKey: '%env(AZURE_TRANSLATOR_KEY)%'
            $region: '%env(AZURE_TRANSLATOR_REGION)%'
    
    App\Application\State\Category\CategoryWithImageAndTranslationProcessor:
        arguments:
            $projectDir: '%kernel.project_dir%'